<h1>
  <div class="color-orange">P</div>
  age Admin
</h1>

<H2>Suppression des Plats</H2>
<button routerLink="/admin">Retour </button>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Nom du plat</th>
      <th>Suppression</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flat of flatsToDisplay">
      <td>{{ flat.type.name }}</td>
      <td>{{ flat.titre }}</td>
      <td>
        <i
          (click)="deleteFlatFromApiService(flat.id)"
          class="fa-solid fa-trash-can"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
