h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 8px;
  font-size: xx-large;
  color: var(--tertiary-color);
  background-color: black;
}
.container-flatchoise {
  display: flex;
  flex-direction: column;
}

.flatchoise {
  margin-top: 32px;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 20%;
}

p {
  font-size: large;
  margin-top: 32px;

}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: x-large;
  margin-top: 32px;
}
.small-ingredient {
  width: 50px;
  height: 50px;
  text-align: center;
}
.all-ingredient-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
 
}
@media screen and (min-width: 1000px) {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 16px;
    font-size: 48px;
  }
  .container-flatchoise {
    display: flex;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 35%;
  }
}
