<h1>
  <div class="color-orange">L</div>
  a carte
</h1>
<div class="flat-decript">
  <div class="gender-container" *ngFor="let type of typeToDisplay">
    <h2>{{ type.name | uppercase }}</h2>
    <div
      [routerLink]="['/plat', flat.id]"
      class="genre-flats"
      *ngFor="let flat of flatsToDisplay"
    >
      <div class="flat-info" *ngIf="flat.type.name === type.name">
        <div class="title-and-ingredients">
          <p class="font">{{ flat.titre | titlecase }}</p>

          <div *ngFor="let ingredient of flat.ingredients">
            {{ ingredient.name | titlecase}}

            <!-- <div *ngFor="let item of ingredientsListToDisplay">
              <p *ngIf="item.id === ingredient">{{item.name}}</p>
            </div> -->
          </div>
        </div>

        <p class="price">{{ flat.price }} €</p>
      </div>
    </div>
  </div>
</div>
