<h1>
  <div class="color-orange">L</div>
  a carte
</h1>
<div class="dish margin-desktop">
  <div class="gender-container" *ngFor="let type of typeToDisplay">
    <h2>{{ type.name | uppercase }}</h2>
    <div
      [routerLink]="['/plat', dish.id]"
      class="genre-dishes"
      *ngFor="let dish of dishesToDisplay"
    >
      <div class="dish-info" *ngIf="dish.type.name === type.name">
        <div class="title-and-ingredients">
          <h3 class="font">{{ dish.titre | titlecase }}</h3>

          <div *ngFor="let ingredient of dish.ingredients">
            {{ ingredient.name | lowercase }}

            <!-- <div *ngFor="let item of ingredientsListToDisplay">
              <p *ngIf="item.id === ingredient">{{item.name}}</p>
            </div> -->
          </div>
        </div>

        <p class="price">{{ dish.price | number : "1.2" }}€</p>
      </div>
    </div>
  </div>
</div>
