<footer>
  <div class="contact-details">
    <p>Djam'S Restaurant </p>
    <p  class="display-none-mobile"> 66 rue de la Plaisance </p>
    <p  class="display-none-mobile">69003 Lyon </p>
    <p  class="display-none-mobile">Siret:883-767-701-00018 </p>
  </div>
  <div class="icons-social-network">
    <img class="icon" src="./assets/img/facebook.jpg" alt="icone Facebook" />

    <img class="icon" src="./assets/img/instagram.jpg" alt="icone Instagram" />

    <img class="icon" src="./assets/img/sendMail.jpg" alt="icone Contact" />
  </div>
</footer>
