.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.manage-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}

.fa-solid {
  font-size: 24px;
}

.fa-square-check {
  color: green;
}

table {
  margin: 2vh;
}
.width-max{
  max-width: 200px;
}

@media screen and (min-width: 1200px) {
}
