.button-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 50%;
  width: 50%;
  height: 24vh;
}
fieldset {
  margin: 20px;
  padding: 0;
  border: 0;
}

.rotation {
  transform: rotate(45deg);
}
.fa-circle-plus {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
/* button {
  border: 1.5px var(--secondary-color) solid;
  box-shadow: 1px 1px 5px rgb(97, 95, 95);
  border-radius: 3px;
  width: 32vw;
  height: 5vh;
  margin: 16px 34vw;
  background-color: var(--tertiary-color);
} */
.cache {
  display: none;
}

.fa-square-check {
  color: green;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px var(--secondary-color) solid;
  border-radius: 3px;
  width: 70%;
  min-height: 38px;
  padding-left: 16px;
}
.ingredients-list {
  max-height: 10vh;
  overflow-y: scroll;
}
.img-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px var(--secondary-color) solid;
  border-radius: 3px;
  width: 70%;
  min-height: 38px;
  padding-left: 16px;
}
.price-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px var(--secondary-color) solid;
  border-radius: 3px;
  width: 70%;
  min-height: 38px;
  padding-left: 16px;
}
.ingredient-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px var(--secondary-color) solid;
  border-radius: 3px;
  width: 70%;
  min-height: 38px;
  padding-left: 16px;
}

.flats-button {
  font-size: larger;
}
.ingredient-list {
  padding-top: 20px;
}
table {
  margin: 2vh;
}

@media screen and (min-width: 1200px) {
  .container-column-mobile {
    display: flex;
    flex-direction: column;
    margin: 0 30rem;
  }
/* button{
  width: 8vw;
  margin: 16px 46vw;
} */
.comment{
  margin: 0 65%;
}
}
