<h1>
  <div class="color-orange">P</div>
  age Admin
</h1>

<div class="manage-comments">
  <H2>Gestion du livre d'or</H2>

  <table *ngIf="commentsToDisplay && commentsToDisplay.length > 0">
    <thead>
      <tr>
        <th class="width-max">Commentaires</th>
        <th>Valid.</th>
        <th>Supp.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of commentsToDisplay; let i = index">
        <td class="width-max">{{ comment.message }}</td>
        <td>
          <i
            (click)="acceptCommentFromService(comment.id, comment)"
            class="fa-solid fa-square-check"
          ></i>
        </td>
        <td>
          <i
            (click)="deleteCommentFromService(comment.id)"
            class="fa-solid fa-trash-can"
          >
          </i>
        </td>
      </tr>
    </tbody>
  </table>

  <button routerLink="/admin-add-dish" class="comments-button">
    Ajouter un plat
  </button>
  <div>
    <button routerLink="/admin-delete-dish">Suppression plat</button>
  </div>

  <!-- Au click je lance la methode logOutFromService qui est dans la partie TS du composant -->
  <button (click)="logOutFromService()">Deconnexion</button>
</div>
