<h1>
  <div class="color-orange">P</div>
  age Admin
</h1>
<H2>Ajouter un plat</H2>
<p class="sucess">{{ messageReponse }}</p>

<form class="margin-desktop"
  (ngSubmit)="addNewMenuForm.valid && onSubmitForm()"
  [formGroup]="addNewMenuForm"
  #myForm="ngForm"
>
  <div class="container-column-mobile">
    <fieldset>
      <label for="typeSelected">Type de Plats : </label>
      <input
        class="hidden"
        type="number"
        value="{{ addNewMenuForm.value.type | number }}"
        name="typeSelected"
        id="typeSelected"
      />
      <select formControlName="type">
        <option *ngFor="let type of typeToDisplay" value="{{ type.id }}">
          {{ type.name }}
        </option>
      </select>
      <span
        *ngIf="addNewMenuForm.controls.type.errors?.['required']&& myForm.submitted"
      >
        Le champ requis.
      </span>
    </fieldset>
    <fieldset>
      <label for="name">Nom du plat : </label>
      <input
        class="name"
        type="text"
        id="name"
        placeholder="Tapez le nom du plat"
        formControlName="name"
      />
      <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
      <div *ngIf="myForm.submitted && addNewMenuForm.controls.name.errors">
        <!-- vérifie si un champ de formulaire appelé "name" est vide ou non. S'il est vide, il affiche le message "Le champ est obligatoire". -->
        <span *ngIf="addNewMenuForm.controls.name.errors?.['required']">
          Un champ est requis
        </span>
      </div>
    </fieldset>
    <fieldset>
      <label for="img">Image du plat : </label>
      <input
        class="img-dish"
        type="text"
        id="img"
        placeholder="Tapez l'url de l'image"
        formControlName="image"
      />
      <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
      <div *ngIf="myForm.submitted && addNewMenuForm.controls.image.errors">
        <!-- vérifie si un champ de formulaire appelé "lastname" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->
        <span *ngIf="addNewMenuForm.controls.image.errors?.['required']">
          Une photo est requise
        </span>
      </div>
    </fieldset>
    <fieldset>
      <label for="price">Prix du plat : </label>
      <input
        class="price-dish"
        type="number"
        id="price"
        placeholder="Tapez le prix"
        formControlName="price"
      />
      <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
      <div *ngIf="myForm.submitted && addNewMenuForm.controls.price.errors">
        <!-- vérifie si un champ de formulaire appelé "lastname" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->
        <span *ngIf="addNewMenuForm.controls.price.errors?.['required']">
          Un champ est requis
        </span>
      </div>
    </fieldset>
    <fieldset>
      <label for="ingredients"> Ingredients du plat : </label>

      <input
        class="ingredient-dish"
        type="text"
        (keyup)="getLettersForFiltersIngredients($event)"
      />
      <ul class="ingredients-list">
        <li *ngFor="let ingredient of ingredientsListToDisplay">
          <input
            [checked]="arrayForIngredientsAdd.includes(ingredient.id)"
            type="checkbox"
            (click)="chooseIngredients(ingredient.id)"
          />

          {{ ingredient.name }}
        </li>
      </ul>
      <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstname.errors)verifie si le champs(firstname) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
      <div
        *ngIf="myForm.submitted && addNewMenuForm.controls.ingredients.errors"
      >
        <!-- vérifie si un champ de formulaire appelé "lastname" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->
        <span *ngIf="addNewMenuForm.controls.ingredients.errors?.['required']">
          Un champ est requis
        </span>
      </div>
    </fieldset>
  </div>
  <div class="button-inline">
  <button  type="submit">Soumettre</button>
  <button routerLink="/admin">Retour</button>
</div>
</form>

