.container-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(92vh - 16px);
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 8px;
  font-size: xx-large;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  text-align: center;
  padding: 8px;
}
.container-dish-choice {
  display: flex;
  flex-direction: column;
}

.dish-choice {
  margin-bottom: 32px;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: auto;
}

p {
  font-size: large;

  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: x-large;
}
.ingredient-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-ingredient {
  width: 50px;
  height: 50px;
  margin: 0;
}
.all-ingredient-dish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}
@media screen and (min-width: 1000px) {
  h2 {
    font-size: 48px;
  }
  .container-dish-choice {
    display: flex;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 300px;
  }

  .container-center {
    height: calc(96vh - 136px);
  }
}
