<h1>
  <div class="color-orange">L</div>
  ivre d'Or
</h1>

<div class="button-plus" [ngClass]="changeCommentVisible ? 'rotation' : ''">
  <i (click)="onClickAddComment()" class="fa-solid fa-circle-plus"></i>
</div>

<div class="reverse">
  <div class="allcomments">
    <!-- :si la vérification de l'admin du  commentaire est === à true alors on le montre sinon on le cache -->
    <div
      class="comment-container"
      *ngFor="let comment of commentsToDisplay"
      [style]="comment.verifiedByAdmin ===true ? 'display:flex' : 'display: none'"
    >
      <p class="name-for-comment">
        {{ comment.lastname | uppercase }} {{ comment.firstname | titlecase }}
      </p>

 
      <div class="note-for-comment">
        <i
          *ngFor="let i of [0, 1, 2, 3, 4]"
          [ngClass]="
            comment.rating > i ? 'fa-solid fa-star' : 'fa-regular fa-star'
          "
        ></i>
      </div>
      <p class="message-for-comment">{{ comment.message }}</p>
    </div>
  </div>
  <form
    class="formVisible"
    [style.display]="changeCommentVisible ? 'flex' : 'none'"
    (ngSubmit)="commentForm.valid && onSubmitForm()"
    [formGroup]="commentForm"
    #myForm="ngForm"
  >
    <div class="container-column-mobile">
      <fieldset>
        <label for="lastname">Nom : </label>
        <input
          type="text"
          id="lastname"
          placeholder="Tapez votre nom"
          formControlName="lastname"
        />
        <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
        <div *ngIf="myForm.submitted && commentForm.controls.lastname.errors">
          <!-- vérifie si un champ de formulaire appelé "lastname" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->
          <span *ngIf="commentForm.controls.lastname.errors?.['required']">
            Le champ nom est requis.
          </span>
        </div>
      </fieldset>

      <fieldset>
        <label for="firstName">Prénom : </label>
        <input
          type="text"
          id="firstname"
          placeholder="Tapez votre prénom"
          formControlName="firstname"
        />
        <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
        <div *ngIf="myForm.submitted && commentForm.controls.firstname.errors">
          <!-- vérifie si un champ de formulaire appelé "lastname" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->
          <span *ngIf="commentForm.controls.firstname.errors?.['required']">
            Le champ prénom est requis.
          </span>
        </div>
      </fieldset>
    </div>
    <div class="container-column-mobile">
      <fieldset>
        <label for="email">Email : </label>
        <input
          type="email"
          id="email"
          placeholder="toto@exemple.com"
          formControlName="email"
        />
        <div *ngIf="myForm.submitted && commentForm.controls.email.errors">
          <!-- vérifie si un champ de formulaire appelé "lastname" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->
          <span *ngIf="commentForm.controls.email.errors?.['required']">
            Le champ email est requis.
          </span>
          <span *ngIf="commentForm.controls.email.errors?.['email']">
            Un format email est requis.
          </span>
          <span *ngIf="commentForm.controls.email.errors?.['extension']">
            Votre email doit se terminer par '.fr' ou '.com' ou '.net'
          </span>
        </div>
        <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
      </fieldset>

      <!--  -->
      <fieldset>
        <label for="stars">Note : </label>
        <input
          type="number"
          id="stars"
          formControlName="rating"
          [style.display]="'none'"
        />
        <i
          (click)="setNoteComment(i + 1)"
          class="fa-regular fa-star"
          *ngFor="let i of [0, 1, 2, 3, 4]"
          [ngClass]="
            commentForm.controls.rating.value! > i
              ? 'fa-solid fa-star'
              : 'fa-regular fa-star'
          "
        ></i>
        <!-- change la classe de mon etoile, si la note est superieur à mon numéro d'étoile true = solide(plein) et false regular(vide) -->
        <div *ngIf="myForm.submitted && commentForm.controls.rating.errors">
          <!-- vérifie si un champ de formulaire appelé "note" est vide ou non. S'il est vide, il affiche le message "Le nom est obligatoire". -->

          <span> Une note est requise. </span>
        </div>
      </fieldset>
    </div>
    <fieldset class="message">
      <label for="message">Message : </label>
      <!-- ngModel lie le textarea html avec la variable créé dans le Ts  -->
      <textarea
        [(ngModel)]="textMessageForCount"
        type="text"
        id="name"
        class="contenu"
        placeholder="Tapez votre message"
        formControlName="message"
      >
      </textarea>

      <!-- ng permet d'ajouter du dynanmisme sur la class applique red-color si la conditon est respecté -->
      <!-- formule pour décrémenter le compteur -->

      <p
        [ngClass]="{
          'red-color':
            (textMessageForCount.length > 2000 ||
              textMessageForCount.length < 5) &&
            myForm.submitted
        }"
      >
        Nombre de caractères restants
        <ng-container *ngIf="textMessageForCount.length < 5"
          >: (5 min)</ng-container
        >
        {{ 2000 - textMessageForCount.length }}/2000
      </p>

      <!-- la premiere condition (myForm.submitted) verifie si le formulaire a été soumis , la deuxieme (commentForm.controls.firstnameController.errors)verifie si le champs(firstnameController) du formulaire (commentForm) contient des erreurs si il contient des erreur il affichera le messages  -->
      <div
        class="message-error-red"
        *ngIf="myForm.submitted && commentForm.controls.message.errors"
      ><span> Un message est requis. </span></div>
    </fieldset>

    <button type="submit">Soumettre</button>
   
  
  </form>
  <p class="sucess">{{ messageReponse }}</p>
</div>
