<h1>Concept</h1>

  <div class="concept-decript">
    <p>Découvrez la cuisine inoubliable du restaurant Djam'S à Lyon.</p>
    <img src="./assets/img/salle.jpg" alt="image de la salle du restaurant, avec les tables et chaises hautes " />

    <p>
      Notre établissement vous offre une expérience culinaire exceptionnelle
      avec un menu alléchant, des ingrédients frais et une présentation
      artistique.
    </p>
    <img src="./assets/img/bar.jpg" alt="photo du bar avec ses lustre sur toute sa longeur" />

    <p>
      Notre chef talentueux crée des plats délicats qui raviront vos sens. Notre
      ambiance élégante et notre service attentionné vous garantissent une
      expérience mémorable. Réservez dès maintenant pour vivre une expérience
      gastronomique unique au restaurant Djam'S.
    </p>
    <img src="./assets/img/employé.jpg" alt="Photo des cuisiniers dans le laboratoire préparants les plats" />
  </div>

