<h1>
  <div class="color-orange">P</div>
  age Admin
</h1>

<H2>Suppression des Plats</H2>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Nom du plat</th>
      <th>Suppression</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dish of dishesToDisplay">
      <td>{{ dish.type.name }}</td>
      <td>{{ dish.titre }}</td>
      <td>
        <i
          (click)="deleteDishFromApiService(dish.id)"
          class="pointer fa-solid fa-trash-can"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<button routerLink="/admin">Retour</button>
