h1 {
  color: var(--tertiary-color);
}
.container-for-page-error404 {
  margin: 4vh 4vh;
  font-size: 1.25em;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
img {
  margin: 2vh 0;
  width: 100%;
  height: 50vh;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: var(--tertiary-color);
  cursor: pointer;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
  .container-for-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 20%;
  }
  a:hover {
    transform: scale(1.4);
    transition: 0.5s;
  }
}
